# ETL Pipeline Preparation

### 1. Import libraries and load datasets.

In [39]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [40]:
# load messages dataset
def load_data(messages_filepath, categories_filepath):
    # load messages and categories dataset
    messages = pd.read_csv(messages_filepath)
    categories = pd.read_csv(categories_filepath)
    return messages, categories

messages, categories = load_data("messages.csv", "categories.csv")
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        26248 non-null  int64
 1   message   26248 non-null  object
 2   original  10184 non-null  object
 3   genre     26248 non-null  object
dtypes: int64(1), object(3)
memory usage: 820.4+ KB

In [41]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          26248 non-null  int64
 1   categories  26248 non-null  object
dtypes: int64(1), object(1)
memory usage: 410.2+ KB

### 2. Merge datasets.

In [42]:
# merge datasets
df = messages.merge(categories, on = "id", how = "left")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          26386 non-null  int64
 1   message     26386 non-null  object
 2   original    10246 non-null  object
 3   genre       26386 non-null  object
 4   categories  26386 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.2+ MB

### 3. Split `categories` into separate category columns.

In [43]:
# create a dataframe of the 36 individual category columns
categories = df["categories"].str.split(";", expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [44]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
categories.columns = [categories.iloc[0][val][:-2] for val in range(len(row)) ]

print(categories.columns)

Index(['related', 'request', 'offer', 'aid_related', 'medical_help',
       'medical_products', 'search_and_rescue', 'security', 'military',
       'child_alone', 'water', 'food', 'shelter', 'clothing', 'money',
       'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

### 4. Convert category values to just numbers 0 or 1.

In [47]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype("string").str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype("int64")
categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   related                 26386 non-null  int64
 1   request                 26386 non-null  int64
 2   offer                   26386 non-null  int64
 3   aid_related             26386 non-null  int64
 4   medical_help            26386 non-null  int64
 5   medical_products        26386 non-null  int64
 6   search_and_rescue       26386 non-null  int64
 7   security                26386 non-null  int64
 8   military                26386 non-null  int64
 9   child_alone             26386 non-null  int64
 10  water                   26386 non-null  int64
 11  food                    26386 non-null  int64
 12  shelter                 26386 non-null  int64
 13  clothing                26386 non-null  int64
 14  money                   26386 non-null  int64
 15  missing_people          26386 non-null  int64
 16  refugees                26386 non-null  int64
 17  death                   26386 non-null  int64
 18  other_aid               26386 non-null  int64
 19  infrastructure_related  26386 non-null  int64
 20  transport               26386 non-null  int64
 21  buildings               26386 non-null  int64
 22  electricity             26386 non-null  int64
 23  tools                   26386 non-null  int64
 24  hospitals               26386 non-null  int64
 25  shops                   26386 non-null  int64
 26  aid_centers             26386 non-null  int64
 27  other_infrastructure    26386 non-null  int64
 28  weather_related         26386 non-null  int64
 29  floods                  26386 non-null  int64
 30  storm                   26386 non-null  int64
 31  fire                    26386 non-null  int64
 32  earthquake              26386 non-null  int64
 33  cold                    26386 non-null  int64
 34  other_weather           26386 non-null  int64
 35  direct_report           26386 non-null  int64
dtypes: int64(36)
memory usage: 7.4 MB

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [48]:
# drop the original categories column from `df`

df.drop("categories", axis = 1, inplace= True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [49]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis= 1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26386 non-null  int64
 1   message                 26386 non-null  object
 2   original                10246 non-null  object
 3   genre                   26386 non-null  object
 4   related                 26386 non-null  int64
 5   request                 26386 non-null  int64
 6   offer                   26386 non-null  int64
 7   aid_related             26386 non-null  int64
 8   medical_help            26386 non-null  int64
 9   medical_products        26386 non-null  int64
 10  search_and_rescue       26386 non-null  int64
 11  security                26386 non-null  int64
 12  military                26386 non-null  int64
 13  child_alone             26386 non-null  int64
 14  water                   26386 non-null  int64
 15  food                    26386 non-null  int64
 16  shelter                 26386 non-null  int64
 17  clothing                26386 non-null  int64
 18  money                   26386 non-null  int64
 19  missing_people          26386 non-null  int64
 20  refugees                26386 non-null  int64
 21  death                   26386 non-null  int64
 22  other_aid               26386 non-null  int64
 23  infrastructure_related  26386 non-null  int64
 24  transport               26386 non-null  int64
 25  buildings               26386 non-null  int64
 26  electricity             26386 non-null  int64
 27  tools                   26386 non-null  int64
 28  hospitals               26386 non-null  int64
 29  shops                   26386 non-null  int64
 30  aid_centers             26386 non-null  int64
 31  other_infrastructure    26386 non-null  int64
 32  weather_related         26386 non-null  int64
 33  floods                  26386 non-null  int64
 34  storm                   26386 non-null  int64
 35  fire                    26386 non-null  int64
 36  earthquake              26386 non-null  int64
 37  cold                    26386 non-null  int64
 38  other_weather           26386 non-null  int64
 39  direct_report           26386 non-null  int64
dtypes: int64(37), object(3)
memory usage: 8.3+ MB

In [52]:
df.related.value_counts()

1    20042
0     6140
2      204
Name: related, dtype: int64

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [33]:
# check number of duplicates
df.duplicated().sum()

170

In [34]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [35]:
# check number of duplicates
df.duplicated().sum()

0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26216 entries, 0 to 26385
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26216 non-null  int64
 1   message                 26216 non-null  object
 2   original                10170 non-null  object
 3   genre                   26216 non-null  object
 4   related                 26216 non-null  int64
 5   request                 26216 non-null  int64
 6   offer                   26216 non-null  int64
 7   aid_related             26216 non-null  int64
 8   medical_help            26216 non-null  int64
 9   medical_products        26216 non-null  int64
 10  search_and_rescue       26216 non-null  int64
 11  security                26216 non-null  int64
 12  military                26216 non-null  int64
 13  child_alone             26216 non-null  int64
 14  water                   26216 non-null  int64
 15  food                    26216 non-null  int64
 16  shelter                 26216 non-null  int64
 17  clothing                26216 non-null  int64
 18  money                   26216 non-null  int64
 19  missing_people          26216 non-null  int64
 20  refugees                26216 non-null  int64
 21  death                   26216 non-null  int64
 22  other_aid               26216 non-null  int64
 23  infrastructure_related  26216 non-null  int64
 24  transport               26216 non-null  int64
 25  buildings               26216 non-null  int64
 26  electricity             26216 non-null  int64
 27  tools                   26216 non-null  int64
 28  hospitals               26216 non-null  int64
 29  shops                   26216 non-null  int64
 30  aid_centers             26216 non-null  int64
 31  other_infrastructure    26216 non-null  int64
 32  weather_related         26216 non-null  int64
 33  floods                  26216 non-null  int64
 34  storm                   26216 non-null  int64
 35  fire                    26216 non-null  int64
 36  earthquake              26216 non-null  int64
 37  cold                    26216 non-null  int64
 38  other_weather           26216 non-null  int64
 39  direct_report           26216 non-null  int64
dtypes: int64(37), object(3)
memory usage: 8.2+ MB

### 7. Save the clean dataset into an sqlite database.

In [38]:
def save_data(df, database_filename):
    engine = create_engine(f'sqlite:///{database_filename}')
    table_name = f'{database_filename}'.replace("\\", " ").replace("/", " ").split(" ")[-1].split(".")[0]
    df.to_sql(table_name, engine, index=False, if_exists= 'replace' )

save_data(df, DisasterResponse.db)